::selection,
img::selection {
  background-color: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: -webkit-linear-gradient( top , #000, #F4F5F7);
  background-image: linear-gradient(to bottom, #000, #F4F5F7);
}

#main-frame {
  outline: 1px solid white;
  background-color: #CCC;
  width: 1020px;
  height: 765px;
  display: block;
  margin: auto;
  position: relative;
}
#main-frame * {
  outline: 1px solid red;
}

.frame {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}
.frame > div {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
}

.frame.active {
  display: block;
}

#game-menu {
  width: 100%;
  min-height: 0 !important;
  z-index: 10;
  outline: 1px solid darkgray;
}
#game-menu > table > tr > td {
  padding: 10px;
}
#game-menu td {
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}
#game-menu #pointCounterTable {
  width: 300px;
  margin-left: 15px;
}
#game-menu #pointCounterTable td {
  padding: 5px;
}
#game-menu #pointCounterTable #pointCount {
  text-align: right;
}
#game-menu #pointCounterTable #pointMax {
  text-align: left;
}
#game-menu * {
  outline: 1px solid white;
}

.game-icon {
  width: 100px;
  height: 50px;
}

.game-type-save {
  background-image: url(http://placehold.it/100x50/&text=Save);
}

.game-type-kill {
  background-image: url(http://placehold.it/100x50/&text=Kill);
}

#background-scene {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  outline: 1px solid blue;
  background: url(../images/bg-template.jpg) no-repeat;
  background-size: 1020px;
}
#background-scene * {
  outline: 1px solid black;
}
#background-scene > div {
  position: absolute;
  opacity: 0.3;
  outline: 1px solid pink;
}
#background-scene > div.environment-items {
  background-size: contain;
}
#background-scene .environment-transhcan1 {
  width: 23.6%;
  height: 30.7%;
  position: absolute;
  top: 36%;
  right: auto;
  bottom: auto;
  left: 50.6%;
  background: url(../images/e-trashCan-1.png) no-repeat;
}
#background-scene .environment-transhcan2 {
  width: 15.8%;
  height: 28.5%;
  position: absolute;
  top: 33%;
  right: auto;
  bottom: auto;
  left: 63.3%;
  background: url(../images/e-trashCan-2.png) no-repeat;
}
#background-scene .environment-dumpster {
  width: 46.1%;
  height: 61%;
  position: absolute;
  top: 22%;
  right: auto;
  bottom: auto;
  left: 8%;
  background: url(../images/e-dumpster.png) no-repeat;
}
#background-scene .environment-bag {
  width: 17.5%;
  height: 28%;
  position: absolute;
  top: 48.5%;
  right: auto;
  bottom: auto;
  left: 45.8%;
  background: url(../images/e-trashBag.png) no-repeat;
}
#background-scene .environment-manhole {
  width: 28.5%;
  height: 19.5%;
  position: absolute;
  top: 65.5%;
  right: auto;
  bottom: auto;
  left: 67.5%;
  background: url(../images/e-manhole.png) no-repeat;
}
#background-scene .environment-cardboardBox {
  width: 21.5%;
  height: 18.6%;
  position: absolute;
  top: 46.9%;
  right: auto;
  bottom: auto;
  left: 73.9%;
  background: url(../images/e-cardboardBox.png) no-repeat;
}
#background-scene .environment-dumpster:before {
  content: 'dumpster';
}
#background-scene .environment-transhcan1:before {
  content: 'transhcan1';
}
#background-scene .environment-transhcan2:before {
  content: 'transhcan2';
}
#background-scene .environment-bag:before {
  content: 'bag';
}
#background-scene .environment-manhole:before {
  content: 'manhole';
}
#background-scene .environment-cardboardBox:before {
  content: 'cardboardbox';
}

.dog-type-s,
.cat-type-m {
  background-position: 0px 0px;
}

.dog-type-l {
  background-position: -10px 0px;
}

.dog-type-l {
  background-image: url(../images/sprite-dog-large.png);
}

.dog-type-s {
  background-image: url(../images/sprite-dog-small.png);
}

.cat-type-m {
  background-image: url(../images/sprite-cat-small.png);
}

.hit .dog-type-l {
  background-position: -132px 0px;
}

.hit .dog-type-s {
  background-position: -121px 0px;
}

.hit .cat-type-m {
  background-position: -120px 0px;
}

.kill .dog-type-l,
.kill .dog-type-s,
.kill .cat-type-m {
  background-position: -245px 0px;
}

.save .dog-type-l {
  background-position: -355px 0px;
}

.save .dog-type-s {
  background-position: -350px 0px;
}

.save .cat-type-m {
  background-position: -347px 0px;
}

.saved .dog-type-l {
  background-position: -475px 0px;
}

.saved .dog-type-s {
  background-position: -470px 0px;
}

.saved .cat-type-m {
  background-position: -464px 0px;
}

.hit-targets {
  width: auto;
  outline: 1px solid pink !important;
}
.hit-targets > .img {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: 602px 100px;
}
.hit-targets > .img.on {
  display: block;
  z-index: 100;
}
.hit-targets > .img.off {
  display: none;
  z-index: 0;
}

.hit-targets:before {
  content: attr(name) "";
  font-size: 10px;
}

.location-dumpster {
  width: 15%;
  height: 15%;
  position: absolute;
  top: 25.7%;
  right: 0;
  bottom: 0;
  left: 20%;
}

.location-trashcan1 {
  width: 15%;
  height: 15%;
  position: absolute;
  top: 24.5%;
  right: 0;
  bottom: 0;
  left: 53%;
}

.location-trashcan2 {
  width: 15%;
  height: 15%;
  position: absolute;
  top: 21.3%;
  right: 0;
  bottom: 0;
  left: 66%;
}

.location-bag {
  width: 15%;
  height: 15%;
  position: absolute;
  top: 39%;
  right: 0;
  bottom: 0;
  left: 49%;
}

.location-manhole {
  width: 15%;
  height: 15%;
  position: absolute;
  top: 68%;
  right: 0;
  bottom: 0;
  left: 73%;
}

.location-cardboardBox {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 33%;
  right: 0;
  bottom: 0;
  left: 80%;
}
