@import 'bourbon/dist/_bourbon.scss';
::selection,
img::selection {background-color: none;}
$lb-w: 1020px;
$lb-h: (($lb-w / 4) * 3);
@mixin test($color1, $color2) {
	//outline: 1px solid $color1;
	//* {outline: 1px solid $color2;}
}
@mixin wh-percent ($w, $h) {
	width: $w;
	height: $h;
}

@font-face{
	font-family: Veneer-Three;
	src: url('../fonts/Veneer-Three.otf');
}

html, body {width: 100%; height: 100%;}
// temporary background
body {@include background-image(linear-gradient(to bottom, #000, #F4F5F7));}
#main-frame {
	// Remove when done testing
	@include test(white, red);
	background-color: #CCC;
	width: $lb-w;
	height: $lb-h;
	display: block;
	margin: auto;
	position: relative;
}
.frame {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
	background-color:#921A1D;
	text-align:center;
	> div {
		position: absolute;
		min-width: 100px;
		min-height: 100px;
	}
	button{
		width: 280px;
		margin: 0px 40px;
		font-family:Veneer-Three;
		font-size: 3em;
		padding: 10px 15px;
		background-color: #ffffff;
		color:#921A1D;
		-moz-border-radius: 10px;
    	-webkit-border-radius: 10px;
    	border-radius: 10px;
    	border:none;
	}
	button:hover{
		color: #58595B;
	}
	.green-btn{
    	background-color: #82CCB6;
    	margin: 0px 20px;
    }

}
.frame.active {display: block;}
// Splash Screen

@import 'frames.scss'

// Main Menu
#game-menu {
	width: 100%;
	min-height: 0 !important;
	z-index: 10;
	> table > tr > td {
		padding: 10px;
	}
	td {font-size: 24px; text-align: center; vertical-align: middle;}
	// Remove when done testing
	#pointCounterTable {
		width: 300px;
		margin-left: 15px;
		td {padding: 5px;}
		#pointCount {text-align: right;}
		#pointMax {text-align: left;}
	}
	@include test(darkgray, white);
}
.game-icon {width: 100px; height: 50px;}
.game-type-save {background-image: url(http://placehold.it/100x50/&text=Save);}
.game-type-kill {background-image: url(http://placehold.it/100x50/&text=Kill);}

// Background Scene Only
#background-scene {
	position: relative;
	width: 100%; height: 100%;
	z-index: 1;
	@include test(blue, black);
	background: url(../images/bg-template.jpg) no-repeat;
	background-size: 1020px ;
	> div {
		position: absolute;
		opacity: 0.3;
		outline: 1px solid pink;
	}
	> div.environment-items {background-size: contain;}
	// Background Dimensions and Positions
	.environment-transhcan1 {
		@include wh-percent(23.6%, 30.7%);
		@include position( absolute, 36% auto auto 50.6% );
		background: url(../images/e-trashCan-1.png) no-repeat;
	}
	.environment-transhcan2 {
		@include wh-percent(15.8%, 28.5%);
		@include position( absolute, 33% auto auto 63.3% );
		background: url(../images/e-trashCan-2.png) no-repeat;
	}
	.environment-dumpster {
		@include wh-percent(46.1%, 61%);
		@include position( absolute, 22% auto auto 8% );
		background: url(../images/e-dumpster.png) no-repeat;
	}
	.environment-bag {
		@include wh-percent(17.5%, 28%);
		@include position( absolute, 48.5% auto auto 45.8% );
		background: url(../images/e-trashBag.png) no-repeat;
	}
	.environment-manhole {
		@include wh-percent(28.5%, 19.5%);
		@include position( absolute, 65.5% auto auto 67.5% );
		background: url(../images/e-manhole.png) no-repeat;
	}
	.environment-cardboardBox {
		@include wh-percent(21.5%, 18.6%);
		@include position( absolute, 46.9% auto auto 73.9% );
		background: url(../images/e-cardboardBox.png) no-repeat;
	}
	// Remove when done testing
	.environment-dumpster:before {content: 'dumpster';}
	.environment-transhcan1:before {content: 'transhcan1';}
	.environment-transhcan2:before {content: 'transhcan2';}
	.environment-bag:before {content: 'bag';}
	.environment-manhole:before {content: 'manhole';}
	.environment-cardboardBox:before {content: 'cardboardbox';}
}
// Target Assets
.dog-type-s,
.cat-type-m {background-position: 0px 0px;}
.dog-type-l {background-position: -10px 0px;}
.dog-type-l {background-image: url(../images/sprite-dog-large.png);}
.dog-type-s {background-image: url(../images/sprite-dog-small.png);}
.cat-type-m {background-image: url(../images/sprite-cat-small.png);}

.hit .dog-type-l {background-position: -132px 0px;}
.hit .dog-type-s {background-position: -121px 0px;}
.hit .cat-type-m {background-position: -120px 0px;}

.kill .dog-type-l,
.kill .dog-type-s,
.kill .cat-type-m {background-position: -245px 0px;}

.save .dog-type-l {background-position: -355px 0px;}
.save .dog-type-s {background-position: -350px 0px;}
.save .cat-type-m {background-position: -347px 0px;}

.saved .dog-type-l {background-position: -475px 0px;}
.saved .dog-type-s {background-position: -470px 0px;}
.saved .cat-type-m {background-position: -464px 0px;}
	// .dog-type-m {background-image: url(http://placehold.it/100x100/&text=dog-s);}
	// .com-type-m {background-image: url(http://placehold.it/100x100/&text=comm);}
// Target Locations
.hit-targets {
	width: auto;
	outline: 1px solid pink !important;
	> .img {
		position: absolute;
		min-width: 100px;
		min-height: 100px;
		background-repeat: no-repeat;
		background-size: 602px 100px;
	}
	> .img.on {
		display: block;
		z-index: 100;
	}
	> .img.off {
		display: none;
		z-index: 0;
	}
}
.hit-targets:before {
	content: attr(name) '';
	font-size: 10px;
}
.location-dumpster {
	@include wh-percent(15%, 15%);
	@include position(absolute, 25.7% 0 0 20%);
}
.location-trashcan1 {
	@include wh-percent(15%, 15%);
	@include position(absolute, 24.5% 0 0 53%);
}
.location-trashcan2 {
	@include wh-percent(15%, 15%);
	@include position(absolute, 21.3% 0 0 66%);
}
.location-bag {
	@include wh-percent(15%, 15%);
	@include position(absolute, 39% 0 0 49%);
}
.location-manhole {
	@include wh-percent(15%, 15%);
	@include position(absolute, 68% 0 0 73%);
}
.location-cardboardBox {
	@include wh-percent(20%, 20%);
	@include position(absolute, 33% 0 0 80%);
}


