.start-screen {
  background-color: #921A1D;
  text-align: center; }
  .start-screen > div {
    position: relative; }
  .start-screen .headline-pic {
    padding-top: 50px; }
    .start-screen .headline-pic img {
      width: 90%; }
  .start-screen .subheadline {
    width: 60%;
    padding-top: 30px;
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #82CCB6;
    margin: 0 auto; }
  .start-screen .subheadline2 {
    padding-top: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    color: #FFFFFF; }
  .start-screen .button-wrapper {
    margin-top: -20px; }

.start-screen.active .headline-pic > img {
  -webkit-animation: whackEmAll 1s ease-in-out;
  -moz-animation: whackEmAll 1s ease-in-out;
  animation: whackEmAll 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes whackEmAll {
  0% {
    -webkit-transform: scale(0.99); }
  50% {
    -webkit-transform: scale(1.01); }
  100% {
    -webkit-transform: scale(0.99); } }
@-moz-keyframes whackEmAll {
  0% {
    -moz-transform: scale(0.99); }
  50% {
    -moz-transform: scale(1.01); }
  100% {
    -moz-transform: scale(0.99); } }
@keyframes whackEmAll {
  0% {
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
    transform: scale(0.99); }
  50% {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01); }
  100% {
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
    transform: scale(0.99); } }
.kill-pets > div, .save-pets > div {
  position: relative; }
.kill-pets .headline, .save-pets .headline {
  padding-top: 60px;
  font-family: Veneer-Three;
  font-size: 4em;
  color: #ffffff; }
.kill-pets .subheadline, .save-pets .subheadline {
  width: 50%;
  font-family: Arial, sans-serif;
  font-size: 2em;
  color: #ffffff;
  margin: 0 auto; }
.kill-pets .instruction-points, .save-pets .instruction-points {
  font-family: Veneer-Three; }
  .kill-pets .instruction-points > div, .save-pets .instruction-points > div {
    display: inline-block; }
  .kill-pets .instruction-points div, .save-pets .instruction-points div {
    color: #ffffff;
    font-size: 1.2em; }
  .kill-pets .instruction-points .points, .save-pets .instruction-points .points {
    color: #82CCB6;
    font-size: 2em; }
.kill-pets .button-wrapper, .save-pets .button-wrapper {
  margin-top: 50px; }

.kill-commissioner > div, .save-commissioner > div {
  position: relative; }
.kill-commissioner .subheadline, .save-commissioner .subheadline {
  font-family: Veneer-Three;
  font-size: 4em;
  color: #ffffff;
  margin: 0 auto; }
.kill-commissioner .subheadline2, .save-commissioner .subheadline2 {
  width: 60%;
  font-family: Arial, sans-serif;
  font-size: 2em;
  color: #ffffff;
  margin: 0 auto; }
.kill-commissioner .button-wrapper, .save-commissioner .button-wrapper {
  margin-top: 50px; }

.kill-score > div, .save-score > div {
  position: relative; }
.kill-score .headline, .save-score .headline {
  padding-top: 150px;
  font-family: Arial, sans-serif;
  font-size: 3em;
  color: #ffffff; }
.kill-score .score, .save-score .score {
  margin-top: -40px;
  margin-bottom: 10px;
  font-family: Veneer-Three;
  font-size: 6em;
  color: #ffffff; }
.kill-score .subheadline, .save-score .subheadline {
  width: 50%;
  font-family: Arial, sans-serif;
  font-size: 2em;
  color: #ffffff;
  margin: 0 auto; }
.kill-score .subheadline2, .save-score .subheadline2 {
  width: 80%;
  font-family: Arial, sans-serif;
  font-size: 2em;
  color: #82CCB6;
  margin: 0 auto; }
.kill-score .button-wrapper, .save-score .button-wrapper {
  margin-top: 30px; }

.share > div {
  position: relative; }
.share .bodytext {
  width: 75%;
  line-height: 1.6em;
  padding-top: 100px;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  color: #ffffff;
  margin: 0px auto; }
.share .learn-more {
  margin-top: 50px; }
.share .button-wrapper {
  margin-top: 50px; }

.col-4 {
  width: 20%;
  overflow: hidden; }
  .col-4 .img-wrapper {
    height: 229px;
    width: 315px;
    margin-left: -53px;
    text-align: left; }
  .col-4 img {
    position: absolute; }

.offset-col-2 {
  margin-left: 12.5%; }

::selection,
img::selection {
  background-color: transparent;
  color: none; }

@font-face {
  font-family: Veneer-Three;
  src: url("../fonts/Veneer-Three.otf"); }
html, body {
  width: 100%;
  height: 100%; }

body {
  background-image: -webkit-linear-gradient( top , #000, #F4F5F7);
  background-image: linear-gradient(to bottom, #000, #F4F5F7); }

#main-frame {
  background-color: #CCC;
  width: 1020px;
  height: 765px;
  display: block;
  margin: auto;
  position: relative; }

.frame {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #921A1D;
  text-align: center; }
  .frame > div {
    position: absolute;
    min-width: 100px;
    min-height: 100px; }
  .frame button {
    width: 280px;
    margin: 0px 40px;
    font-family: Veneer-Three;
    font-size: 3em;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #921A1D;
    outline: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none; }
  .frame button:hover {
    color: #58595B; }
  .frame .green-btn {
    background-color: #82CCB6;
    margin: 0px 20px; }

.frame.active {
  display: block; }

#game-menu {
  width: 100%;
  min-height: 0 !important;
  z-index: 10;
  font-family: Veneer-Three; }
  #game-menu > table > tr > td {
    padding: 10px; }
  #game-menu td {
    font-size: 24px;
    text-align: center;
    vertical-align: middle; }
  #game-menu #pointCounterTable {
    margin-top: 24px;
    margin-left: 15px; }
    #game-menu #pointCounterTable td {
      padding: 4px;
      font-size: 1.5em;
      color: #FFF; }
    #game-menu #pointCounterTable #pointCount {
      text-align: right;
      color: #E1CD6C; }
    #game-menu #pointCounterTable #pointMax {
      text-align: left; }
  #game-menu #gameTimer {
    font-size: 35px;
    color: #E1CD6C;
    text-align: right;
    padding-top: 24px;
    padding-right: 24px; }

#gameCountdown {
  width: 300px;
  height: 300px;
  margin-left: 366px;
  margin-top: 214px;
  z-index: 1000;
  color: #921A1D;
  font-size: 300px;
  font-family: Veneer-Three; }

.game-icon {
  width: 67px;
  height: 50px;
  margin-top: 22px;
  margin-left: 20px; }

.game-type-save {
  background-image: url(http://placehold.it/100x50/&text=Save); }

.game-type-kill {
  background: url(../images/icon-death.png) no-repeat;
  background-position: center; }

/* */
#background-scene {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../images/bg.jpg) no-repeat;
  background-size: 1020px; }
  #background-scene > div {
    position: absolute; }
  #background-scene > div.environment-items {
    background-size: contain; }
  #background-scene .environment-transhcan1 {
    width: 23.6%;
    height: 30.7%;
    position: absolute;
    top: 36%;
    right: auto;
    bottom: auto;
    left: 50.6%;
    background: url(../images/e-trashCan-1.png) no-repeat; }
  #background-scene .environment-transhcan2 {
    width: 15.8%;
    height: 28.5%;
    position: absolute;
    top: 33%;
    right: auto;
    bottom: auto;
    left: 63.3%;
    background: url(../images/e-trashCan-2.png) no-repeat; }
  #background-scene .environment-dumpster {
    width: 46.1%;
    height: 61%;
    position: absolute;
    top: 22%;
    right: auto;
    bottom: auto;
    left: 8%;
    background: url(../images/e-dumpster.png) no-repeat; }
  #background-scene .environment-bag {
    width: 17.5%;
    height: 28%;
    position: absolute;
    top: 48.5%;
    right: auto;
    bottom: auto;
    left: 45.8%;
    background: url(../images/e-trashBag.png) no-repeat; }
  #background-scene .environment-manhole {
    width: 28.5%;
    height: 19.5%;
    position: absolute;
    top: 65.5%;
    right: auto;
    bottom: auto;
    left: 67.5%;
    background: url(../images/e-manhole.png) no-repeat; }
  #background-scene .environment-cardboardBox {
    width: 21.5%;
    height: 18.6%;
    position: absolute;
    top: 46.9%;
    right: auto;
    bottom: auto;
    left: 73.9%;
    background: url(../images/e-cardboardBox.png) no-repeat; }

.dog-type-s,
.cat-type-m {
  background-position: 0px 0px; }

.dog-type-l {
  background-position: -10px 0px; }

.dog-type-l {
  background-image: url(../images/sprite-dog-large.png); }

.dog-type-s {
  background-image: url(../images/sprite-dog-small.png); }

.cat-type-m {
  background-image: url(../images/sprite-cat-small.png); }

.hit .dog-type-l {
  background-position: -132px 0px; }

.hit .dog-type-s {
  background-position: -121px 0px; }

.hit .cat-type-m {
  background-position: -120px 0px; }

.kill .dog-type-l,
.kill .dog-type-s,
.kill .cat-type-m {
  background-position: -245px 0px; }

.save .dog-type-l {
  background-position: -355px 0px; }

.save .dog-type-s {
  background-position: -350px 0px; }

.save .cat-type-m {
  background-position: -347px 0px; }

.save .com-type-m {
  background-image: url(../images/sprite-coin.png); }

.saved .dog-type-l {
  background-position: -475px 0px; }

.saved .dog-type-s {
  background-position: -470px 0px; }

.saved .cat-type-m {
  background-position: -464px 0px; }

.com-type-m[data-varComm="1"] {
  background-position: 0px 0px; }

.com-type-m[data-varComm="2"] {
  background-position: -99px 0px; }

.com-type-m[data-varComm="3"] {
  background-position: -198px 0px; }

.com-type-m[data-varComm="4"] {
  background-position: -297px 0px; }

.com-type-m[data-varComm="5"] {
  background-position: -396px 0px; }

.com-type-m[data-varComm="6"] {
  background-position: -495px 0px; }

.com-type-m[data-varComm="7"] {
  background-position: -594px 0px; }

.com-type-m[data-varComm="8"] {
  background-position: -693px 0px; }

.com-type-m[data-varComm="9"] {
  background-position: -792px 0px; }

.hit-targets {
  width: 11.2%;
  height: 14%;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: scale(1.55);
  -moz-transform: scale(1.55);
  -ms-transform: scale(1.55);
  -o-transform: scale(1.55);
  transform: scale(1.55);
  z-index: 100; }
  .hit-targets > .img {
    position: absolute;
    min-width: 100px;
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: 602px 100px;
    bottom: 0; }
  .hit-targets > .img.on {
    display: block;
    z-index: 100; }
  .hit-targets > .img.off {
    display: none;
    z-index: 0; }

.hit-targets.save .img.com-type-m {
  display: block;
  width: 91%;
  background-size: 889px 97px; }

.hit-targets:before {
  content: attr(name) "";
  font-size: 10px;
  color: #fff;
  text-shadow: 1px 1px 0px #000; }

.location-dumpster {
  position: absolute;
  top: 26.7%;
  right: 0;
  bottom: 0;
  left: 20.4%; }

.location-trashcan1 {
  position: absolute;
  top: 25.6%;
  right: 0;
  bottom: 0;
  left: 52%; }

.location-trashcan2 {
  position: absolute;
  top: 22.5%;
  right: 0;
  bottom: 0;
  left: 64%; }

.location-bag {
  position: absolute;
  top: 39.7%;
  right: 0;
  bottom: 0;
  left: 48.5%; }

.location-manhole {
  position: absolute;
  top: 69.1%;
  right: 0;
  bottom: 0;
  left: 73.2%; }

.location-cardboardBox {
  position: absolute;
  top: 34.6%;
  right: 0;
  bottom: 0;
  left: 78%; }

/* ---------------- Animations --------------------- */
/* Chrome, Safari, Opera */
@-webkit-keyframes animationDogTypeL {
  0% {
    background-position: -10px 67px; }
  100% {
    background-position: -10px 0; } }
@-webkit-keyframes animationDogTypeS {
  0% {
    background-position: 0px 49px; }
  100% {
    background-position: 0px 0; } }
@-webkit-keyframes animationCatTypeM {
  0% {
    background-position: 0px 59px; }
  100% {
    background-position: 0px 0; } }
/* Standard syntax */
@keyframes animationDogTypeL {
  0% {
    background-position: -10px 67px; }
  100% {
    background-position: -10px 0; } }
@keyframes animationDogTypeS {
  0% {
    background-position: 0px 49px; }
  100% {
    background-position: 0px 0; } }
@keyframes animationCatTypeM {
  0% {
    background-position: 0px 59px; }
  100% {
    background-position: 0px 0; } }
.dog-type-l {
  /* Chrome, Safari, Opera */
  -webkit-animation-name: animationDogTypeL;
  -webkit-animation-duration: 2s;
  /* Standard syntax */
  animation-name: animationDogTypeL;
  animation-duration: 2s; }

.dog-type-s {
  /* Chrome, Safari, Opera */
  -webkit-animation-name: animationDogTypeS;
  -webkit-animation-duration: 2s;
  /* Standard syntax */
  animation-name: animationDogTypeS;
  animation-duration: 2s; }

.cat-type-m {
  /* Chrome, Safari, Opera */
  -webkit-animation-name: animationCatTypeM;
  -webkit-animation-duration: 2s;
  /* Standard syntax */
  animation-name: animationCatTypeM;
  animation-duration: 2s; }

/*# sourceMappingURL=custom.css.map */
