@import 'bourbon/dist/_bourbon.scss';
// Splash Screen
@import 'frames.scss';

::selection,
img::selection {background-color: transparent; color: none;}
$lb-w: 1020px;
$lb-h: (($lb-w / 4) * 3);
@mixin test($color1, $color2) {
	//outline: 1px solid $color1;
	//* {outline: 1px solid $color2;}
}
@mixin wh-percent ($w, $h) {
	width: $w;
	height: $h;
}

@font-face{
	font-family: Veneer-Three;
	src: url('../fonts/Veneer-Three.otf');
}

html, body {width: 100%; height: 100%;}
// temporary background
body {@include background-image(linear-gradient(to bottom, #000, #F4F5F7));}
#main-frame {
	// Remove when done testing
	// @include test(white, red);
	background-color: #CCC;
	width: $lb-w;
	height: $lb-h;
	display: block;
	margin: auto;
	position: relative;
}
.frame {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
	background-color: #921A1D;
	text-align: center;
	> div {
		position: absolute;
		min-width: 100px;
		min-height: 100px;
	}
	button{
		width: 280px;
		margin: 0px 40px;
		font-family:Veneer-Three;
		font-size: 3em;
		padding: 10px 15px;
		background-color: #ffffff;
		color:#921A1D;
		outline: none;
		@include border-top-radius(10px);
		@include border-bottom-radius(10px);
    	border:none;
	}
	button:hover{
		color: #58595B;
	}
	.green-btn{
    	background-color: #82CCB6;
    	margin: 0px 20px;
    }

}
.frame.active {display: block;}

// Main Menu
#game-menu {
	width: 100%;
	min-height: 0 !important;
	z-index: 10;
	font-family: Veneer-Three;
	> table > tr > td {
		padding: 10px;
	}
	td {font-size: 24px; text-align: center; vertical-align: middle;}
	#pointCounterTable {
		// width: 300px;
		margin-top: 24px;
		margin-left: 15px;
		td {
			padding: 4px;
			font-size: 1.5em;
			color: #FFF;
		}
		#pointCount {text-align: right; color: #E1CD6C;}
		#pointMax {text-align: left;}
	}
	#gameTimer {
		font-size: 35px;
		color: #E1CD6C;
		text-align: right;
		padding-top: 24px;
		padding-right: 24px;
	}
}
#gameCountdown{
	width:300px;
	height:300px;
	margin-left:366px;
	margin-top:214px;
	z-index:1000;
	color:#921A1D;
	font-size:300px;
	font-family:Veneer-Three;
}
.game-icon {width: 67px; height: 50px; margin-top: 22px; margin-left: 20px;}
.game-type-save {background-image: url(http://placehold.it/100x50/&text=Save);}
.game-type-kill {
	background: url(../images/icon-death.png) no-repeat;
	background-position: center;
}
/* */

// Background Scene Only
#background-scene {
	position: relative;
	width: 100%; height: 100%;
	z-index: 1;
	//@include test(blue, black);
	background: url(../images/bg.jpg) no-repeat;
	background-size: 1020px ;
	> div {
		position: absolute;
	}
	> div.environment-items {
		background-size: contain;
	}
	// Background Dimensions and Positions
	.environment-transhcan1 {
		@include wh-percent(23.6%, 30.7%);
		@include position( absolute, 36% auto auto 50.6% );
		background: url(../images/e-trashCan-1.png) no-repeat;
	}
	.environment-transhcan2 {
		@include wh-percent(15.8%, 28.5%);
		@include position( absolute, 33% auto auto 63.3% );
		background: url(../images/e-trashCan-2.png) no-repeat;
	}
	.environment-dumpster {
		@include wh-percent(46.1%, 61%);
		@include position( absolute, 22% auto auto 8% );
		background: url(../images/e-dumpster.png) no-repeat;
	}
	.environment-bag {
		@include wh-percent(17.5%, 28%);
		@include position( absolute, 48.5% auto auto 45.8% );
		background: url(../images/e-trashBag.png) no-repeat;
	}
	.environment-manhole {
		@include wh-percent(28.5%, 19.5%);
		@include position( absolute, 65.5% auto auto 67.5% );
		background: url(../images/e-manhole.png) no-repeat;
	}
	.environment-cardboardBox {
		@include wh-percent(21.5%, 18.6%);
		@include position( absolute, 46.9% auto auto 73.9% );
		background: url(../images/e-cardboardBox.png) no-repeat;
	}
}
// Target Assets
.dog-type-s,
.cat-type-m {background-position: 0px 0px;}
.dog-type-l {background-position: -10px 0px;}
.dog-type-l {background-image: url(../images/sprite-dog-large.png);}
.dog-type-s {background-image: url(../images/sprite-dog-small.png);}
.cat-type-m {background-image: url(../images/sprite-cat-small.png);}


.hit .dog-type-l {background-position: -132px 0px;}
.hit .dog-type-s {background-position: -121px 0px;}
.hit .cat-type-m {background-position: -120px 0px;}

.kill .dog-type-l,
.kill .dog-type-s,
.kill .cat-type-m {background-position: -245px 0px;}

.save .dog-type-l {background-position: -355px 0px;}
.save .dog-type-s {background-position: -350px 0px;}
.save .cat-type-m {background-position: -347px 0px;}
.save .com-type-m {background-image: url(../images/sprite-coin.png);}

.saved .dog-type-l {background-position: -475px 0px;}
.saved .dog-type-s {background-position: -470px 0px;}
.saved .cat-type-m {background-position: -464px 0px;}
	// .dog-type-m {background-image: url(http://placehold.it/100x100/&text=dog-s);}
	// .com-type-m {background-image: url(http://placehold.it/100x100/&text=comm);}

.com-type-m[data-varComm="1"] {background-position: 0px 0px;}
.com-type-m[data-varComm="2"] {background-position: -99px 0px;}
.com-type-m[data-varComm="3"] {background-position: -198px 0px;}
.com-type-m[data-varComm="4"] {background-position: -297px 0px;}
.com-type-m[data-varComm="5"] {background-position: -396px 0px;}
.com-type-m[data-varComm="6"] {background-position: -495px 0px;}
.com-type-m[data-varComm="7"] {background-position: -594px 0px;}
.com-type-m[data-varComm="8"] {background-position: -693px 0px;}
.com-type-m[data-varComm="9"] {background-position: -792px 0px;}

// Target Locations
.hit-targets {
	@include wh-percent(11.2%, 14%);
	@include test(white, red);
	@include transform-origin(center bottom);
	@include transform( scale(1.55) );
	z-index: 100;
	> .img {
		position: absolute;
		min-width: 100px;
		min-height: 100px;
		background-repeat: no-repeat;
		background-size: 602px 100px;
		bottom: 0;
	}
	> .img.on {
		display: block;
		z-index: 100;
	}
	> .img.off {
		display: none;
		z-index: 0;
	}
}
.hit-targets.save {
	.img.com-type-m {
		display: block;
		width: 91%;
		background-size: 889px 97px;
	}
}

.hit-targets:before {
	content: attr(name) '';
	font-size: 10px;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
}
.location-dumpster {
	@include position(absolute, 26.7% 0 0 20.4%);
}
.location-trashcan1 {
	@include position(absolute, 25.6% 0 0 52%);
}
.location-trashcan2 {
	@include position(absolute, 22.5% 0 0 64%);
}
.location-bag {
	@include position(absolute, 39.7% 0 0 48.5%);
}
.location-manhole {
	@include position(absolute, 69.1% 0 0 73.2%);
}
.location-cardboardBox {
	@include position(absolute, 34.6% 0 0 78%);
}

/* ---------------- Animations --------------------- */

/* Chrome, Safari, Opera */
@-webkit-keyframes animationDogTypeL {
	0%   {background-position:	-10px 67px;}
    100%   {background-position:-10px 0;}
}
@-webkit-keyframes animationDogTypeS {
	0%   {background-position:	0px 49px;}
    100%   {background-position: 0px 0;}
}
@-webkit-keyframes animationCatTypeM {
	0%   {background-position:	0px 59px;}
    100%   {background-position: 0px 0;}
}
/* Standard syntax */
@keyframes animationDogTypeL {
   0%   {background-position:	-10px 67px;}
   100%   {background-position:-10px 0;}
}
@keyframes animationDogTypeS {
   0%   {background-position:	0px 49px;}
   100%   {background-position: 0px 0;}
}
@keyframes animationCatTypeM {
   0%   {background-position:	0px 59px;}
   100%   {background-position: 0px 0;}
}

.dog-type-l{
	 /* Chrome, Safari, Opera */
    -webkit-animation-name: animationDogTypeL;
    -webkit-animation-duration: 2s;
    /* Standard syntax */
    animation-name: animationDogTypeL;
    animation-duration: 2s;
}
.dog-type-s{
	 /* Chrome, Safari, Opera */
    -webkit-animation-name: animationDogTypeS;
    -webkit-animation-duration: 2s;
    /* Standard syntax */
    animation-name: animationDogTypeS;
    animation-duration: 2s;
}
.cat-type-m{
	 /* Chrome, Safari, Opera */
    -webkit-animation-name: animationCatTypeM;
    -webkit-animation-duration: 2s;
    /* Standard syntax */
    animation-name: animationCatTypeM;
    animation-duration: 2s;
}


